.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
    }
  }
}
.sign {
  text-decoration: none;
  color: #fff;
  margin-left: auto;
  font-weight: bolder;
  background: #67c9db;
  padding: 0.7rem;
  border-radius: 5px;
}
